<%- include('template/head', {tituloWeb: 'Inicio EJS'}); %>

<div class="container">

  <a
       class="btn btn-success btn-block my-4"
       href="/clientes/crear"
  >
        Agregar nuevo cliente
</a>

    
            <div class="row">
            <% if (arrayClientes.length > 0 ) { %>
                <% arrayClientes.forEach(cliente => { %>
                    
                  <div class="col-2 col-md-4 mt-2 border-1 border-warning card bg-light ">

                  <div class="card-body  text-center">
                    <div>
                      <img class="w-50" src="https://publicidadrayo.com/tportal/wp-content/uploads/2020/11/cropped-logo-travelportal-agencia.png" alt="">
                    </div>
                        
                        
                        <h5 class="mt-2">
                          Nombre: <%= cliente.nombre  %>
                          </h5>
                          <h5 class="mt-2">

                          Apellidos: <%= cliente.apellidos  %>
                        </h5>  
                        <h6 class="mt-2">
                          Email: <%= cliente.email  %> 
                        </h6> 
                        <h6 class="mt-2">
                          DNI: <%= cliente.dni  %> 
                        </h6> 
                        <h6 class="mt-2">
                          Destino: <%= cliente.viaje  %> 
                        </h6> 
                        <h6 class="mt-2">
                          Seguro: <%= cliente.seguro  %> ,
                          Pagado: <%= cliente.pagado  %>
                        </h6> 
                        <h5>
                          Codigo del viaje:</h5> <p>
                            <%= cliente.id  %>
                          </p>
                        <a 
                          class=" btn btn-warning"
                          href="clientes/<%= cliente.id  %>">

                          Editar / Eliminar
                          </a>        
                    </div>
                    </div>       
                          

                        </td>
                      </tr>  
                      
                     <% }) %>
               <% } %>
          
        </tbody>
      </table>
    
</div>


<%- include('template/footer'); %>
