<%- include('template/head', {tituloWeb: 'detalle de cliente'}); %>

<div class="container">

    <h1>Editar cliente</h1>
    
    <% if (error) { %>
        <%= mensaje %> 
        <a 
            href="/clientes"
            class="btn btn-dark btn-block my-2"
        >
            Volver
        </a>
    <% } %>

    <% if (!error) { %>

        <form id="editar" data-id="<%= cliente.id %>">
            <h6>Nombre</h6>
            <input 
                type="text"
                value="<%= cliente.nombre %>"
                class="form-control my-2"
                name="nombre"
                id="nombreInput"
                required
            >
            <h6>Apellidos</h6>
            <input 
                type="text"
                value="<%= cliente.apellidos %>"
                class="form-control my-2"
                name="apellidos"
                id="apellidosInput"
                required
            >
            <h6>Email</h6>
            <input 
                type="text"
                value="<%= cliente.email %>"
                class="form-control my-2"
                name="email"
                id="emailInput"
                required
            >
            <h6>DNI</h6>
            <input 
                type="text"
                value="<%= cliente.dni %>"
                class="form-control my-2"
                name="dni"
                id="dniInput"
                required
            >
        
            <select class="form-select my-2" name="viaje" id="viajeInput"  value="<%= cliente.viaje %>" required>
                <option value="0" selected="">Selecciona tu viaje...</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Madrid">Madrid</option>
                <option value="Cordoba">Córdoba</option>
                <option value="Alicante">Alicante</option>
            </select>
              
            <select class="form-select my-2" name="seguro" id="seguroInput"  value="<%= cliente.seguro %>" required>
                <option value="0" selected="">Selecciona si contrata seguro...</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
               
            </select>

            <select class="form-select my-2" name="pagado" id="pagadoInput"  value="<%= cliente.pagado %>" required>
                <option value="0" selected="">Selecciona si está pagado...</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
            
            <button
                class="btn btn-warning"
                type="submit"
            >
                Editar
            </button>
        </form>
        <button
            class="btn btn-danger mt-2"
            data-id="<%= cliente.id %>"
        >
            Eliminar
        </button>
    <% } %>
   

<%- include('template/footer'); %>

<script>
    
    const btnEliminar = document.querySelector('.btn-danger')
      btnEliminar.addEventListener('click', async() => {
        console.log(btnEliminar.dataset.id)  
        try {
            const data = await fetch(`/clientes/${btnEliminar.dataset.id}`, {
              method: 'delete'
            })
            const res = await data.json()
            console.log(res)
            if(res.estado){
                window.location.href = '/clientes'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
      })

      //Editar documento 

      const formEditar = document.querySelector('#editar');

      formEditar.addEventListener('submit', async(e) => {
          e.preventDefault()
          const nombre = formEditar.elements['nombre'].value
          const apellidos = document.querySelector('#apellidosInput').value
          const email = document.querySelector('#emailInput').value
          const dni = document.querySelector('#dniInput').value
          const viaje = document.querySelector('#viajeInput').value
          const seguro = document.querySelector('#seguroInput').value
          const pagado = document.querySelector('#pagadoInput').value

          
          const id = formEditar.dataset.id 
      
          const data = await fetch(`/clientes/${id}`, {
              method: 'PUT',
              headers: {
              'Content-Type': 'application/json'
              },
              body: JSON.stringify({nombre, apellidos, email, dni, viaje, seguro, pagado})
          })
      
          const res = await data.json()
      
          if(res.estado){
              window.location.href = '/clientes'
          }else{
              console.log(res)
          }
      
      })
    
    </script>